<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Apartments</title>
</head>
<body>
	{{> /common/_navigation }}
	<h1>Your Listings</h1>
	<h2>Active Listings</h2>
		{{#activeApartments}}
				<a href="/apartments/{{ id }}">{{ address }} {{ city }} {{ state }} {{ zipCode }}</a><br>
		{{/activeApartments}}
	<h2>Inactive Listings</h2>
		{{#inactiveApartments}}
				<a href="/apartments/{{ id }}">{{ address }} {{ city }} {{ state }} {{ zipCode }}</a><br>
		{{/inactiveApartments}}
</body>
</html>