<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sign up</title>
</head>
<body>
	<h1>You should probably sign up...</h1>
	<form method="post" action "/signup">
		<input name="email" type="email" placeholder="email" required>
		<input name="password" type="password" placeholder="password" required>
		<input name="firstName" type="text" placeholder="first name" required>
		<input name="lastName" type="text" placeholder="last name" required>
		<button>Submit</button>
	</form>
</body>
</html>