<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Welcome to your new home</title>
</head>
<body>
	{{#noUser}}
		<a href="/login"><button>Login</button></a>
	{{/noUser}}
	{{#currentUser}}
		Welcome, {{ firstName }}
		<a href="/apartments/mine">My Listings</a>
		<a href="/logout"><button>Logout</button></a>
		</form>
	{{/currentUser}}
	<h1>Apartments!</h1>
	{{#apartments}}
		<div>
			<a href="/apartments/{{ id }}">{{ address }}</a>
		</div>
	{{/apartments}}
	<a href="apartments/new"><button>Create New Apartment</button></a>
</body>
</html>